/* CSS by Michelle Chong */


/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}


/* Style Guide */
:root {
    /* Colors */
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);

    --gray-700: hsl(0, 0%, 20%);
    --gray-800: hsl(0, 0%, 12%);
    --gray-900: hsl(0, 0%, 8%);

    /* Typography */

    /* Font Family */
    --font-family: 'Inter', sans-serif;

    /* Font Size */
    --inter-14: 0.875rem;
    --inter-24: 1.5rem;

    /* Font Weight */
    --inter-400: 400;
    --inter-600: 600;
    --inter-700: 700;
}

/* Mobile: 375px
Desktop: 1440px */

* {
    outline: 1px solid skyblue;
}

*:nth-child(2) {
    outline: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100svh;
    font-family: var(--font-family);
    color: var(--white);
    background-color: var(--gray-900);
    padding: 1rem;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Container Design */

.container {
    max-width: 22rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.75rem;
    border-radius: 10px;
    background-color: var(--gray-800);
}

.avatar {
    max-width: 4rem;
    max-height: 4rem;
    border-radius: 50%;
}

.name {
    font-size: 24px;
    font-weight: var(--inter-400);
}

.location {
    font-size: var(--inter-14);
    font-weight: var(--inter-600);
    color: var(--green);
}

.description {
    font-size: 14px;
    font-weight: var(--inter-400);
}

.social-links {
    list-style: none;
    padding: 0;
    text-align: center;
    width: 100%;
}

.sns {
    border-radius: 10px;
    font-weight:  var(--inter-600);
    margin-top: 1rem;
    background-color: var(--gray-700);
}

.sns a {
    display: block;
    text-decoration: none;
    padding: 0.75rem;
    font-size: var(--inter-14);
}

footer {
    font-size: 0.75rem;
    text-align: center;
    margin-top: 1.5rem;
}